<a href="https://colab.research.google.com/github/armandordorica/velocity_limits/blob/main/Velocity_limits.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/armandordorica/velocity_limits.git

Cloning into 'velocity_limits'...
remote: Enumerating objects: 38, done.
remote: Counting objects: 100% (38/38), done.
remote: Compressing objects: 100% (37/37), done.
remote: Total 38 (delta 10), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (38/38), done.

In [2]:
cd velocity_limits/takehome/

/content/velocity_limits/takehome

In finance, it's common for accounts to have so-called "velocity limits". In this task, you'll write a program that accepts or declines attempts to load funds into customers' accounts in real-time.

Each attempt to load funds will come as a single-line JSON payload, structured as follows:

```json
{ "id": "1234", "customer_id": "1234", "load_amount": "$123.45", "time": "2018-01-01T00:00:00Z" }
```

Each customer is subject to three limits:

- A maximum of $\$5,000$ can be loaded per day
- A maximum of $\$20,000$ can be loaded per week
- A maximum of 3 loads can be performed per day, regardless of amount

As such, a user attempting to load $\$3,000$ twice in one day would be declined on the second attempt, as would a user attempting to load $400 four times in a day.

For each load attempt, you should return a JSON response indicating whether the fund load was accepted based on the user's activity, with the structure:

```json
{ "id": "1234", "customer_id": "1234", "accepted": true }
```

You can assume that the input arrives in ascending chronological order and that if a load ID is observed more than once for a particular user, all but the first instance can be ignored. Each day is considered to end at midnight UTC, and weeks start on Monday (i.e. one second after 23:59:59 on Sunday).

Your program should process lines from `input.txt` and return output in the format specified above, either to standard output or a file. Expected output given our input data can be found in `output.txt`.

You're welcome to write your program in a general-purpose language of your choosing.

We value well-structured, self-documenting code with sensible test coverage. Descriptive function and variable names are appreciated, as is isolating your business logic from the rest of your code.

### Importing Source data

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import itertools
import numpy as np
from datetime import datetime, timedelta
import pandas as pd

input_data = pd.read_json('input.txt', lines=True)
input_data.head(), len(input_data)

(      id  customer_id load_amount                  time
 0  15887          528    $3318.47  2000-01-01T00:00:00Z
 1  30081          154    $1413.18  2000-01-01T01:01:22Z
 2  26540          426     $404.56  2000-01-01T02:02:44Z
 3  10694            1     $785.11  2000-01-01T03:04:06Z
 4  15089          205    $2247.28  2000-01-01T04:05:28Z, 1000)

In [4]:
input_data.head()

      id  customer_id load_amount                  time
0  15887          528    $3318.47  2000-01-01T00:00:00Z
1  30081          154    $1413.18  2000-01-01T01:01:22Z
2  26540          426     $404.56  2000-01-01T02:02:44Z
3  10694            1     $785.11  2000-01-01T03:04:06Z
4  15089          205    $2247.28  2000-01-01T04:05:28Z

In [5]:
len(input_data['id']), len(input_data['id'].unique())

(1000, 984)

**"If a load ID is observed more than once for a particular user, all but the first instance can be ignored."** 
* There are 984 unique `id`s

Looking at unique combinations of load `id` and `customer_id`

In [6]:
input_data['unique_id']  = input_data['id'].astype(str) + "_" + input_data['customer_id'].astype(str)

In [7]:
input_data.head()

      id  customer_id load_amount                  time  unique_id
0  15887          528    $3318.47  2000-01-01T00:00:00Z  15887_528
1  30081          154    $1413.18  2000-01-01T01:01:22Z  30081_154
2  26540          426     $404.56  2000-01-01T02:02:44Z  26540_426
3  10694            1     $785.11  2000-01-01T03:04:06Z    10694_1
4  15089          205    $2247.28  2000-01-01T04:05:28Z  15089_205

### 1. Keeping only the first instance for any combination of load id and customer id

In [8]:
grouped_input_data = input_data.groupby(["unique_id"])
input_data = grouped_input_data.first().copy(deep=True)

In [9]:
input_data.head()

              id  customer_id load_amount                  time
unique_id
10002_35   10002           35    $2385.52  2000-01-20T05:16:22Z
10041_239  10041          239    $5455.00  2000-01-19T00:38:06Z
10041_596  10041          596     $162.67  2000-02-04T22:40:40Z
10047_137  10047          137    $3266.77  2000-01-19T13:55:52Z
10055_460  10055          460    $2671.07  2000-02-08T21:47:46Z

In [10]:
input_data.sort_values(by=['time'], ascending=True, inplace=True)
input_data.reset_index(inplace=True)

In [11]:
input_data.head()

   unique_id     id  customer_id load_amount                  time
0  15887_528  15887          528    $3318.47  2000-01-01T00:00:00Z
1  30081_154  30081          154    $1413.18  2000-01-01T01:01:22Z
2  26540_426  26540          426     $404.56  2000-01-01T02:02:44Z
3    10694_1  10694            1     $785.11  2000-01-01T03:04:06Z
4  15089_205  15089          205    $2247.28  2000-01-01T04:05:28Z

In [12]:
input_data[input_data['unique_id']=='6928_562']

    unique_id    id  customer_id load_amount                  time
108  6928_562  6928          562    $5255.16  2000-01-05T14:27:36Z

* **How many users?**  50
* **How many transactions per user per day? per week? per month?**
* **What is the average transaction amount per user? per day? per week?**

In [13]:
# input_data['load_amount']= input_data.load_amount.replace('[\$,]', '', regex=True).astype(float)

In [14]:
# input_data['load_amount'].mean()

In [15]:
# plt.hist(input_data.load_amount, bins = 50)

In [16]:
# plt.scatter(input_data[input_data['customer_id']==1].time, input_data[input_data['customer_id']==1].customer_id)

In [17]:
# input_data[input_data['customer_id']==1].count(), input_data[input_data['customer_id']==1].min(), input_data[input_data['customer_id']==1].max(), input_data[input_data['customer_id']==1].mean()

In [18]:
customer1_df = input_data[input_data['customer_id']==1]
customer1_df

    unique_id     id  customer_id load_amount                  time
3     10694_1  10694            1     $785.11  2000-01-01T03:04:06Z
18    18705_1  18705            1    $3628.88  2000-01-01T18:24:36Z
66    11456_1  11456            1    $2566.29  2000-01-03T19:30:12Z
165   11114_1  11114            1    $2887.30  2000-01-08T00:45:30Z
171    7485_1   7485            1    $1920.88  2000-01-08T06:53:42Z
223   16907_1  16907            1    $4972.22  2000-01-10T12:04:46Z
229   31045_1  31045            1    $5992.27  2000-01-10T18:12:58Z
276    7806_1   7806            1    $4421.55  2000-01-12T18:17:12Z
496   10262_1  10262            1     $962.12  2000-01-22T03:17:52Z
498   19749_1  19749            1    $4770.96  2000-01-22T05:20:36Z
550    3462_1   3462            1    $4682.96  2000-01-24T10:31:40Z
603    4057_1   4057            1    $2936.16  2000-01-26T16:44:06Z
634   16449_1  16449            1    $4832.29  2000-01-28T00:26:28Z
657   19518_1  19518            1    $1648.34  2000-01-28T23:57:54Z
684    2845_1   2845            1    $3883.89  2000-01-30T03:34:48Z
699   31223_1  31223            1    $5997.09  2000-01-30T19:56:40Z
742   28278_1  28278            1    $1741.75  2000-02-01T15:55:26Z
767   28618_1  28618            1     $113.32  2000-02-02T17:29:36Z
815    1637_1   1637            1     $518.28  2000-02-04T18:35:12Z
885   17351_1  17351            1    $1634.27  2000-02-07T18:10:52Z
960   24411_1  24411            1    $3116.50  2000-02-10T22:53:22Z
968   25125_1  25125            1    $2071.60  2000-02-11T07:04:18Z

### Exhaustive Rules

In [21]:
cd ..

/content/velocity_limits

In [22]:
ls

rules.csv  takehome/  Velocity_limits.ipynb

In [23]:
rules_df = pd.read_csv("rules.csv")
rules_df

    Rule Number  ...                             System Response
0             1  ...               Decline - load ID not unique 1
1             2  ...               Decline - load ID not unique 2
2             3  ...               Decline - load ID not unique 3
3             4  ...               Decline - load ID not unique 4
4             5  ...               Decline - load ID not unique 5
5             6  ...               Decline - load ID not unique 6
6             7  ...               Decline - load ID not unique 7
7             8  ...               Decline - load ID not unique 8
8             9  ...               Decline - load ID not unique 9
9            10  ...              Decline - load ID not unique 10
10           11  ...              Decline - load ID not unique 11
11           12  ...              Decline - load ID not unique 12
12           13  ...              Decline - load ID not unique 13
13           14  ...              Decline - load ID not unique 14
14           15  ...              Decline - load ID not unique 15
15           16  ...              Decline - load ID not unique 16
16           17  ...            Decline - time stamp not unique 1
17           18  ...            Decline - time stamp not unique 2
18           19  ...            Decline - time stamp not unique 3
19           20  ...            Decline - time stamp not unique 4
20           21  ...            Decline - time stamp not unique 5
21           22  ...            Decline - time stamp not unique 6
22           23  ...            Decline - time stamp not unique 7
23           24  ...            Decline - time stamp not unique 8
24           25  ...  Decline - Daily Deps left limit exceeded 1
25           26  ...   Decline - Daily Deps left limit exceeded 2
26           27  ...   Decline - Daily Deps left limit exceeded 3
27           28  ...   Decline - Daily Deps left limit exceeded 4
28           29  ...  Decline - Daily loads left limit exceeded 1
29           30  ...  Decline - Daily loads left limit exceeded 2
30           31  ...  Decline - Weekly deps left limit exceeded 1
31           32  ...                                     Approve

[32 rows x 7 columns]

In [24]:

class Customer: 
  def __init__(self, customer_id, loads=None, daily_deposit_limit=5000, weekly_deposit_limit=20000, daily_loads_limit=3, initial_bal=0, 
               current_daily_deposits=0, current_weekly_deposits=0, current_daily_loads= 0 ):

    self.customer_id = customer_id
    self.loads = []
    self.daily_deposit_limit =  daily_deposit_limit
    self.weekly_deposit_limit =weekly_deposit_limit 
    self.daily_loads_limit = daily_loads_limit 
    self.balance = initial_bal

    self.current_daily_deposits =current_daily_deposits
    self.current_weekly_deposits = current_daily_deposits
    self.current_daily_loads = current_daily_loads


    self.daily_deposits_left = daily_deposit_limit
    self.weekly_deposits_left = weekly_deposit_limit 
    self.daily_loads_left = daily_loads_limit

    self.load_hist = pd.DataFrame({'customer_id':self.customer_id, 
                                   'load_id': [], 
                                   'load_amt': [], 
                                   'load_time': [], 
                                   'load_week_num':[],
                                   'load_day_num':[],
                                   'approved_status':[], 
                                   'ruleA':[],
                                   'ruleB':[],
                                   'rule1':[], 
                                   'rule2':[], 
                                   'rule3':[]})



  def get_daily_deposits_left(self): 
    if hasattr(self, 'valid_loads') and len(self.valid_loads)>0:
      self.daily_deposits_left = self.valid_loads[self.valid_loads.load_day_num ==self.valid_loads.iloc[-1].load_day_num].daily_deps_left.iloc[-1]

  def get_weekly_deposits_left(self): 
    if hasattr(self, 'valid_loads') and len(self.valid_loads)>0:
      self.weekly_deposits_left = self.valid_loads[self.valid_loads.load_week_num ==self.valid_loads.iloc[-1].load_week_num].weekly_deps_left.iloc[-1]

  def get_daily_loads_left(self): 
    if hasattr(self, 'valid_loads') and len(self.valid_loads)>0:
      self.daily_loads_left = self.valid_loads[self.valid_loads['load_day_num']==self.loads[-1].load_day_num]['num_daily_deps_left'].iloc[-1]


  def update_load_history(self): 
    
    self.load_hist = self.load_hist.append({'customer_id': self.customer_id, \
                                            'load_id': self.loads[-1].load_id, \
                                            'load_amt':self.loads[-1].load_amt, \
                                            'load_time': self.loads[-1].load_time, \
                                            'load_week_num':self.loads[-1].load_week_num,\
                                            'load_day_num':self.loads[-1].load_day_num,\
                                            'approved_status': self.ruleA&self.ruleB&self.rule1&self.rule2&self.rule3, 
                                            'ruleA': self.ruleA, 
                                            'ruleB': self.ruleB,
                                            'rule1': self.rule1, 
                                            'rule2': self.rule2, 
                                            'rule3': self.rule3
                                            }, ignore_index=True).copy(deep=True)

    self.load_hist['load_week_num'] = self.load_hist['load_week_num'].astype(int)
    self.load_hist['load_day_num'] = self.load_hist['load_day_num'].astype(int) 

    self.load_hist['approved_status'] = self.load_hist['approved_status'].astype(bool)  
    self.load_hist['ruleA'] = self.load_hist['ruleA'].astype(bool) 
    self.load_hist['ruleB'] = self.load_hist['ruleB'].astype(bool) 
    self.load_hist['rule1'] = self.load_hist['rule1'].astype(bool) 
    self.load_hist['rule2'] = self.load_hist['rule2'].astype(bool) 
    self.load_hist['rule3'] = self.load_hist['rule3'].astype(bool) 


    

  def process_valid_loads(self):
    # keeping only the valid loads (no dupes allowed)
    self.valid_loads = self.load_hist[self.load_hist['approved_status']==True].copy(deep=True)

    df1 = self.valid_loads.set_index('load_time').sort_index().copy(deep=True)

    df2 = pd.DataFrame(df1.groupby('load_week_num')['load_amt'].transform(pd.Series.cumsum)).copy(deep=True)
    df3 = pd.DataFrame(df1.groupby('load_day_num')['load_amt'].transform(pd.Series.cumsum)).copy(deep=True)
    df4 = pd.DataFrame(df1.groupby(['load_day_num']).cumcount()+1).copy(deep=True)
    df4.columns=['num_daily_deps']


    self.valid_loads['cum_weekly_deps'] = list(pd.merge(self.valid_loads, df2, how='left', left_on =['load_time'], right_on=['load_time'])['load_amt_y'])
    self.valid_loads['cum_daily_deps'] = list(pd.merge(self.valid_loads, df3, how='left', left_on =['load_time'], right_on=['load_time'])['load_amt_y'])
    self.valid_loads['num_daily_deps'] = list(pd.merge(self.valid_loads, df4, how='left', left_on =['load_time'], right_on=['load_time'])['num_daily_deps'])


    self.valid_loads['weekly_deps_left'] = self.weekly_deposit_limit - self.valid_loads['cum_weekly_deps']
    self.valid_loads['daily_deps_left'] = self.daily_deposit_limit - self.valid_loads['cum_daily_deps']
    self.valid_loads['num_daily_deps_left'] = self.daily_loads_limit - self.valid_loads['num_daily_deps']




  def process_load(self, load):
    self.balance += float(load.load_amt)
    self.loads.append(load)

    if hasattr(self, 'valid_loads') and len(self.valid_loads)>0:
      if load.load_day_num not in list(self.valid_loads.load_day_num): 
        self.daily_deposits_left = self.daily_deposit_limit
        self.daily_loads_left = self.daily_loads_limit

      if load.load_week_num not in list(self.valid_loads.load_week_num): 
        #print ("load.load_week_num not in list(self.valid_loads.load_week_num): is true")
        self.weekly_deposits_left = self.weekly_deposit_limit


    

    #3 rules: 
    # 1) A maximum of  $5,000  can be loaded per day
    # 2) A maximum of  $20,000  can be loaded per week
    # 3) A maximum of 3 loads can be performed per day, regardless of amount


    self.ruleA = load.load_id not in list(self.load_hist.load_id)
    self.ruleB = load.load_time not in list(self.load_hist.load_time) 
    self.rule1 = self.daily_deposits_left > float(load.load_amt)
    self.rule2 = self.daily_loads_left >= 1 
    self.rule3 = self.weekly_deposits_left > float(load.load_amt) 

    self.rule_status = str(self.ruleA) + " " + str(self.ruleB) + " " + str(self.rule1) +  " " + str(self.rule2) + " " + str(self.rule3)

    if not self.ruleA:
      print("ERROR: Load ID already exists")

    if not self.ruleB: 
      print("ERROR: Time stamp already exists for same customer")

    if not self.rule1: 
      print("ERROR: No room for daily deposits left")

    if not self.rule2: 
      print("ERROR: Number of allowed daily deposits exceeded")

    if not self.rule3: 
      print("ERROR: No room for weekly deposits left")


    self.update_load_history()
    self.process_valid_loads()


    if self.ruleA & self.ruleB & self.rule1 & self.rule2 & self.rule3 : 
      self.current_daily_deposits+=float(load.load_amt)
      self.current_weekly_deposits+=float(load.load_amt)
      self.current_daily_loads+=1

      self.get_daily_deposits_left()

      self.get_weekly_deposits_left()


      self.get_daily_loads_left()

      self.loads[-1].approved_status = True 
      print("All Rules Passed ... Load Added")

    else: 
      print("Load Rejected")

    return None

  def print_status(self): 
    print("Customer_id:{}".format(self.customer_id))
    print("Current Deposit Balance:{}".format(self.balance))
    print("Current Daily Deposits:{}".format(self.current_daily_deposits))
    print("Current Weekly Deposits:{}".format(self.current_weekly_deposits))
    print("Current Daily Loads:{}".format(self.current_daily_loads))

    print("Daily Deposits Left:{}".format(self.daily_deposits_left))
    print("Weekly Deposits Left:{}".format(self.weekly_deposits_left))
    print("Daily Loads Left:{}".format(self.daily_loads_left))

In [25]:

# import datetime as datetime 
class Load: 
  def __init__(self, load_id, load_amt, load_time):
    self.load_id = load_id
    self.load_amt = float(load_amt[1:])
    self.load_time = load_time 
    self.approved_status = False

    self.datetime_object = datetime.strptime(self.load_time, "%Y-%m-%dT%H:%M:%SZ")
    self.load_week_num = self.datetime_object.year + self.datetime_object.isocalendar()[1]

    import datetime as dt

    self.load_day_num = self.datetime_object.year + (dt.date(self.datetime_object.year, self.datetime_object.month, self.datetime_object.day) - dt.date(self.datetime_object.year,1,1)).days + 1

    # self.day_num = (datetime.date(self.datetime_object.year, self.datetime_object.month, self.datetime_object.day) - datetime.date(year,1,1)).days + 1

Daily Dep Amount Exceeded

In [29]:
rules_df.iloc[24:28]

    Rule Number  ...                             System Response
24           25  ...  Decline - Daily Deps left limit exceeded 1
25           26  ...   Decline - Daily Deps left limit exceeded 2
26           27  ...   Decline - Daily Deps left limit exceeded 3
27           28  ...   Decline - Daily Deps left limit exceeded 4

[4 rows x 7 columns]

In [30]:
cust1 = Customer(1)
cust1.process_load(Load('10694', '$7785.11', '2000-01-01T03:04:06Z'))

ERROR: No room for daily deposits left
Load Rejected

In [31]:
cust1.load_hist

   customer_id load_id  load_amt  ...  rule1  rule2  rule3
0            1   10694   7785.11  ...  False   True   True

[1 rows x 12 columns]

In [32]:
cust1.valid_loads

Empty DataFrame
Columns: [customer_id, load_id, load_amt, load_time, load_week_num, load_day_num, approved_status, ruleA, ruleB, rule1, rule2, rule3, cum_weekly_deps, cum_daily_deps, num_daily_deps, weekly_deps_left, daily_deps_left, num_daily_deps_left]
Index: []

In [33]:
cust1.rule_status

'True True False True True'

### Approval Case

In [38]:
rules_df.iloc[[31]]

    Rule Number  ...  System Response
31           32  ...          Approve

[1 rows x 7 columns]

In [39]:
cust1 = Customer(1)
cust1.process_load(Load('10694', '$3785.11', '2000-01-01T03:04:06Z'))

All Rules Passed ... Load Added

In [40]:
cust1.load_hist

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694   3785.11  ...  True   True   True

[1 rows x 12 columns]

In [41]:
cust1.valid_loads

   customer_id load_id  ...  daily_deps_left num_daily_deps_left
0            1   10694  ...          1214.89                   2

[1 rows x 18 columns]

### Tests 1 - 15: Load ID is not unique

In [42]:
rules_df.iloc[0:15]

    Rule Number  ...                 System Response
0             1  ...   Decline - load ID not unique 1
1             2  ...   Decline - load ID not unique 2
2             3  ...   Decline - load ID not unique 3
3             4  ...   Decline - load ID not unique 4
4             5  ...   Decline - load ID not unique 5
5             6  ...   Decline - load ID not unique 6
6             7  ...   Decline - load ID not unique 7
7             8  ...   Decline - load ID not unique 8
8             9  ...   Decline - load ID not unique 9
9            10  ...  Decline - load ID not unique 10
10           11  ...  Decline - load ID not unique 11
11           12  ...  Decline - load ID not unique 12
12           13  ...  Decline - load ID not unique 13
13           14  ...  Decline - load ID not unique 14
14           15  ...  Decline - load ID not unique 15

[15 rows x 7 columns]

In [43]:
cust1 = Customer(1)
cust1.process_load(Load('10694', '$385.11', '2000-01-01T03:04:06Z'))

All Rules Passed ... Load Added

In [44]:
cust1.load_hist

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    385.11  ...  True   True   True

[1 rows x 12 columns]

In [45]:
cust1.valid_loads

   customer_id load_id  ...  daily_deps_left num_daily_deps_left
0            1   10694  ...          4614.89                   2

[1 rows x 18 columns]

In [46]:
cust1.process_load(Load('10694', '$385.11', '2000-01-01T03:05:06Z'))

ERROR: Load ID already exists
Load Rejected

### Time stamp is not unique

In [47]:
rules_df.iloc[16:23]

    Rule Number  ...                   System Response
16           17  ...  Decline - time stamp not unique 1
17           18  ...  Decline - time stamp not unique 2
18           19  ...  Decline - time stamp not unique 3
19           20  ...  Decline - time stamp not unique 4
20           21  ...  Decline - time stamp not unique 5
21           22  ...  Decline - time stamp not unique 6
22           23  ...  Decline - time stamp not unique 7

[7 rows x 7 columns]

In [48]:
cust1 = Customer(1)
cust1.process_load(Load('10694', '$385.11', '2000-01-01T03:04:06Z'))

All Rules Passed ... Load Added

In [49]:
cust1.load_hist

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    385.11  ...  True   True   True

[1 rows x 12 columns]

In [50]:
cust1.valid_loads

   customer_id load_id  ...  daily_deps_left num_daily_deps_left
0            1   10694  ...          4614.89                   2

[1 rows x 18 columns]

In [51]:
cust1.process_load(Load('10695', '$3.11', '2000-01-01T03:04:06Z'))

ERROR: Time stamp already exists for same customer
Load Rejected

### Daily Deposit Amount Is Exceeded

In [52]:
rules_df.iloc[24:28]

    Rule Number  ...                             System Response
24           25  ...  Decline - Daily Deps left limit exceeded 1
25           26  ...   Decline - Daily Deps left limit exceeded 2
26           27  ...   Decline - Daily Deps left limit exceeded 3
27           28  ...   Decline - Daily Deps left limit exceeded 4

[4 rows x 7 columns]

In [53]:
cust1 = Customer(1)
cust1.process_load(Load('10694', '$6000.11', '2000-01-01T03:04:06Z'))

ERROR: No room for daily deposits left
Load Rejected

In [54]:
cust1.load_hist

   customer_id load_id  load_amt  ...  rule1  rule2  rule3
0            1   10694   6000.11  ...  False   True   True

[1 rows x 12 columns]

In [55]:
cust1.valid_loads

Empty DataFrame
Columns: [customer_id, load_id, load_amt, load_time, load_week_num, load_day_num, approved_status, ruleA, ruleB, rule1, rule2, rule3, cum_weekly_deps, cum_daily_deps, num_daily_deps, weekly_deps_left, daily_deps_left, num_daily_deps_left]
Index: []

### Number of daily loads is exceeded - same day

In [56]:
rules_df.iloc[28:30]

    Rule Number  ...                             System Response
28           29  ...  Decline - Daily loads left limit exceeded 1
29           30  ...  Decline - Daily loads left limit exceeded 2

[2 rows x 7 columns]

In [57]:
cust1 = Customer(1)
cust1.process_load(Load('10694', '$600.11', '2000-01-01T03:04:06Z'))

All Rules Passed ... Load Added

In [58]:
cust1.load_hist

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    600.11  ...  True   True   True

[1 rows x 12 columns]

In [59]:
cust1.process_load(Load('10695', '$600.11', '2000-01-01T03:05:06Z'))

All Rules Passed ... Load Added

In [60]:
cust1.load_hist

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    600.11  ...  True   True   True
1            1   10695    600.11  ...  True   True   True

[2 rows x 12 columns]

In [61]:
cust1.valid_loads

   customer_id load_id  ...  daily_deps_left num_daily_deps_left
0            1   10694  ...          4399.89                   2
1            1   10695  ...          3799.78                   1

[2 rows x 18 columns]

In [62]:
cust1.process_load(Load('10696', '$600.11', '2000-01-01T03:06:06Z'))

All Rules Passed ... Load Added

In [63]:
cust1.load_hist

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    600.11  ...  True   True   True
1            1   10695    600.11  ...  True   True   True
2            1   10696    600.11  ...  True   True   True

[3 rows x 12 columns]

In [64]:
cust1.valid_loads

   customer_id load_id  ...  daily_deps_left num_daily_deps_left
0            1   10694  ...          4399.89                   2
1            1   10695  ...          3799.78                   1
2            1   10696  ...          3199.67                   0

[3 rows x 18 columns]

In [65]:
cust1.process_load(Load('10697', '$600.11', '2000-01-01T03:09:06Z'))

ERROR: Number of allowed daily deposits exceeded
Load Rejected

### Number of Daily loads is exceeded - multiple days

In [66]:
cust1 = Customer(1)
cust1.process_load(Load('10694', '$600.11', '2000-01-01T03:04:06Z'))
cust1.load_hist

All Rules Passed ... Load Added

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    600.11  ...  True   True   True

[1 rows x 12 columns]

In [67]:
cust1.process_load(Load('10695', '$600.11', '2000-01-01T03:05:06Z'))
cust1.load_hist

All Rules Passed ... Load Added

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    600.11  ...  True   True   True
1            1   10695    600.11  ...  True   True   True

[2 rows x 12 columns]

In [68]:
cust1.process_load(Load('10696', '$600.11', '2000-01-01T03:06:06Z'))
cust1.load_hist

All Rules Passed ... Load Added

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    600.11  ...  True   True   True
1            1   10695    600.11  ...  True   True   True
2            1   10696    600.11  ...  True   True   True

[3 rows x 12 columns]

In [69]:
cust1.process_load(Load('10702', '$600.11', '2000-01-01T03:11:06Z'))
cust1.load_hist

ERROR: Number of allowed daily deposits exceeded
Load Rejected

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    600.11  ...  True   True   True
1            1   10695    600.11  ...  True   True   True
2            1   10696    600.11  ...  True   True   True
3            1   10702    600.11  ...  True  False   True

[4 rows x 12 columns]

In [70]:
cust1.process_load(Load('10704', '$600.11', '2000-01-02T03:12:06Z'))
cust1.load_hist

All Rules Passed ... Load Added

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    600.11  ...  True   True   True
1            1   10695    600.11  ...  True   True   True
2            1   10696    600.11  ...  True   True   True
3            1   10702    600.11  ...  True  False   True
4            1   10704    600.11  ...  True   True   True

[5 rows x 12 columns]

#### Daily loads over multiple days

In [73]:
cust1 = Customer(1)
cust1.process_load(Load('10694', '$600.11', '2000-01-01T03:04:06Z'))
cust1.load_hist

All Rules Passed ... Load Added

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    600.11  ...  True   True   True

[1 rows x 12 columns]

In [74]:
cust1.valid_loads

   customer_id load_id  ...  daily_deps_left num_daily_deps_left
0            1   10694  ...          4399.89                   2

[1 rows x 18 columns]

In [75]:
cust1.process_load(Load('10695', '$600.11', '2000-01-02T03:04:06Z'))
cust1.load_hist

All Rules Passed ... Load Added

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    600.11  ...  True   True   True
1            1   10695    600.11  ...  True   True   True

[2 rows x 12 columns]

In [76]:
cust1.valid_loads

   customer_id load_id  ...  daily_deps_left num_daily_deps_left
0            1   10694  ...          4399.89                   2
1            1   10695  ...          4399.89                   2

[2 rows x 18 columns]

In [77]:
cust1.process_load(Load('10696', '$600.11', '2000-01-02T03:05:06Z'))
cust1.load_hist

All Rules Passed ... Load Added

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    600.11  ...  True   True   True
1            1   10695    600.11  ...  True   True   True
2            1   10696    600.11  ...  True   True   True

[3 rows x 12 columns]

In [78]:
cust1.valid_loads

   customer_id load_id  ...  daily_deps_left num_daily_deps_left
0            1   10694  ...          4399.89                   2
1            1   10695  ...          4399.89                   2
2            1   10696  ...          3799.78                   1

[3 rows x 18 columns]

In [79]:
cust1.process_load(Load('10697', '$600.11', '2000-01-02T03:06:06Z'))
cust1.load_hist

All Rules Passed ... Load Added

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    600.11  ...  True   True   True
1            1   10695    600.11  ...  True   True   True
2            1   10696    600.11  ...  True   True   True
3            1   10697    600.11  ...  True   True   True

[4 rows x 12 columns]

In [80]:
cust1.valid_loads

   customer_id load_id  ...  daily_deps_left num_daily_deps_left
0            1   10694  ...          4399.89                   2
1            1   10695  ...          4399.89                   2
2            1   10696  ...          3799.78                   1
3            1   10697  ...          3199.67                   0

[4 rows x 18 columns]

In [81]:
cust1.process_load(Load('10698', '$600.11', '2000-01-02T03:07:06Z'))
cust1.load_hist

ERROR: Number of allowed daily deposits exceeded
Load Rejected

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    600.11  ...  True   True   True
1            1   10695    600.11  ...  True   True   True
2            1   10696    600.11  ...  True   True   True
3            1   10697    600.11  ...  True   True   True
4            1   10698    600.11  ...  True  False   True

[5 rows x 12 columns]

### Daily Deposit Amount over multiple days

In [82]:
cust1 = Customer(1)
cust1.process_load(Load('10694', '$300.11', '2000-01-01T03:04:06Z'))
cust1.load_hist

All Rules Passed ... Load Added

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    300.11  ...  True   True   True

[1 rows x 12 columns]

In [83]:
cust1.process_load(Load('10695', '$3000.11', '2000-01-02T03:04:06Z'))
cust1.load_hist

All Rules Passed ... Load Added

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    300.11  ...  True   True   True
1            1   10695   3000.11  ...  True   True   True

[2 rows x 12 columns]

In [84]:
cust1.valid_loads

   customer_id load_id  ...  daily_deps_left num_daily_deps_left
0            1   10694  ...          4699.89                   2
1            1   10695  ...          1999.89                   2

[2 rows x 18 columns]

In [85]:
cust1.process_load(Load('10696', '$3000.11', '2000-01-02T03:05:06Z'))
cust1.load_hist

ERROR: No room for daily deposits left
Load Rejected

   customer_id load_id  load_amt  ...  rule1  rule2  rule3
0            1   10694    300.11  ...   True   True   True
1            1   10695   3000.11  ...   True   True   True
2            1   10696   3000.11  ...  False   True   True

[3 rows x 12 columns]

In [86]:
cust1.process_load(Load('10697', '$300.11', '2000-01-02T03:06:06Z'))
cust1.load_hist

All Rules Passed ... Load Added

   customer_id load_id  load_amt  ...  rule1  rule2  rule3
0            1   10694    300.11  ...   True   True   True
1            1   10695   3000.11  ...   True   True   True
2            1   10696   3000.11  ...  False   True   True
3            1   10697    300.11  ...   True   True   True

[4 rows x 12 columns]

In [87]:
cust1.process_load(Load('10698', '$300.11', '2000-01-04T03:05:06Z'))
cust1.load_hist

All Rules Passed ... Load Added

   customer_id load_id  load_amt  ...  rule1  rule2  rule3
0            1   10694    300.11  ...   True   True   True
1            1   10695   3000.11  ...   True   True   True
2            1   10696   3000.11  ...  False   True   True
3            1   10697    300.11  ...   True   True   True
4            1   10698    300.11  ...   True   True   True

[5 rows x 12 columns]

In [88]:
cust1.valid_loads

   customer_id load_id  ...  daily_deps_left num_daily_deps_left
0            1   10694  ...          4699.89                   2
1            1   10695  ...          1999.89                   2
3            1   10697  ...          1699.78                   1
4            1   10698  ...          4699.89                   2

[4 rows x 18 columns]

### Weekly deposit amount over same week

In [89]:
cust1 = Customer(1)
cust1.process_load(Load('10694', '$300.11', '2000-01-01T03:04:06Z'))
cust1.load_hist

All Rules Passed ... Load Added

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    300.11  ...  True   True   True

[1 rows x 12 columns]

In [90]:
cust1.valid_loads

   customer_id load_id  ...  daily_deps_left num_daily_deps_left
0            1   10694  ...          4699.89                   2

[1 rows x 18 columns]

In [91]:
cust1.process_load(Load('10695', '$4000.11', '2000-01-02T03:04:06Z'))
cust1.load_hist

All Rules Passed ... Load Added

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    300.11  ...  True   True   True
1            1   10695   4000.11  ...  True   True   True

[2 rows x 12 columns]

In [92]:
cust1.process_load(Load('10696', '$4000.11', '2000-01-03T03:05:06Z'))
cust1.load_hist

All Rules Passed ... Load Added

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    300.11  ...  True   True   True
1            1   10695   4000.11  ...  True   True   True
2            1   10696   4000.11  ...  True   True   True

[3 rows x 12 columns]

In [93]:
cust1.process_load(Load('10698', '$4000.11', '2000-01-05T03:06:06Z'))
cust1.load_hist

All Rules Passed ... Load Added

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    300.11  ...  True   True   True
1            1   10695   4000.11  ...  True   True   True
2            1   10696   4000.11  ...  True   True   True
3            1   10698   4000.11  ...  True   True   True

[4 rows x 12 columns]

In [94]:
cust1.valid_loads

   customer_id load_id  ...  daily_deps_left num_daily_deps_left
0            1   10694  ...          4699.89                   2
1            1   10695  ...           999.89                   2
2            1   10696  ...           999.89                   2
3            1   10698  ...           999.89                   2

[4 rows x 18 columns]

In [95]:
cust1.process_load(Load('10700', '$4999.00', '2000-01-06T03:07:06Z'))
cust1.load_hist

All Rules Passed ... Load Added

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    300.11  ...  True   True   True
1            1   10695   4000.11  ...  True   True   True
2            1   10696   4000.11  ...  True   True   True
3            1   10698   4000.11  ...  True   True   True
4            1   10700   4999.00  ...  True   True   True

[5 rows x 12 columns]

In [96]:
cust1.valid_loads

   customer_id load_id  ...  daily_deps_left num_daily_deps_left
0            1   10694  ...          4699.89                   2
1            1   10695  ...           999.89                   2
2            1   10696  ...           999.89                   2
3            1   10698  ...           999.89                   2
4            1   10700  ...             1.00                   2

[5 rows x 18 columns]

In [97]:
cust1.process_load(Load('10701', '$4999.00', '2000-01-07T03:07:06Z'))
cust1.load_hist

All Rules Passed ... Load Added

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    300.11  ...  True   True   True
1            1   10695   4000.11  ...  True   True   True
2            1   10696   4000.11  ...  True   True   True
3            1   10698   4000.11  ...  True   True   True
4            1   10700   4999.00  ...  True   True   True
5            1   10701   4999.00  ...  True   True   True

[6 rows x 12 columns]

In [98]:
cust1.valid_loads

   customer_id load_id  ...  daily_deps_left num_daily_deps_left
0            1   10694  ...          4699.89                   2
1            1   10695  ...           999.89                   2
2            1   10696  ...           999.89                   2
3            1   10698  ...           999.89                   2
4            1   10700  ...             1.00                   2
5            1   10701  ...             1.00                   2

[6 rows x 18 columns]

In [99]:
cust1.process_load(Load('10702', '$4999.00', '2000-01-08T03:07:06Z'))
cust1.load_hist

ERROR: No room for weekly deposits left
Load Rejected

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    300.11  ...  True   True   True
1            1   10695   4000.11  ...  True   True   True
2            1   10696   4000.11  ...  True   True   True
3            1   10698   4000.11  ...  True   True   True
4            1   10700   4999.00  ...  True   True   True
5            1   10701   4999.00  ...  True   True   True
6            1   10702   4999.00  ...  True   True  False

[7 rows x 12 columns]

In [100]:
cust1.load_hist

   customer_id load_id  load_amt  ... rule1  rule2  rule3
0            1   10694    300.11  ...  True   True   True
1            1   10695   4000.11  ...  True   True   True
2            1   10696   4000.11  ...  True   True   True
3            1   10698   4000.11  ...  True   True   True
4            1   10700   4999.00  ...  True   True   True
5            1   10701   4999.00  ...  True   True   True
6            1   10702   4999.00  ...  True   True  False

[7 rows x 12 columns]

In [101]:
cust1.load_hist.load_id.iloc[0]

'10694'

In [102]:
class Controller: 
  def __init__(self): 
    self.customers = {}

In [103]:
input_payloads_df = input_data[input_data.columns[1:]].copy(deep=True)
input_payloads_df.head()

      id  customer_id load_amount                  time
0  15887          528    $3318.47  2000-01-01T00:00:00Z
1  30081          154    $1413.18  2000-01-01T01:01:22Z
2  26540          426     $404.56  2000-01-01T02:02:44Z
3  10694            1     $785.11  2000-01-01T03:04:06Z
4  15089          205    $2247.28  2000-01-01T04:05:28Z

In [104]:
input_payloads_list= []
for i in range(0, len(input_payloads_df)): 
  input_payloads_list.append({'id':input_payloads_df.iloc[i].id, 
  'customer_id':input_payloads_df.iloc[i].customer_id, 
  'load_amount':input_data.iloc[i].load_amount, 
  'time': input_data.iloc[i].time})

In [114]:
controller = Controller()

output_txt = ""

for payload in input_payloads_list: 
  print("input:{}".format(payload))
  if payload['customer_id'] not in controller.customers: 
    controller.customers[payload['customer_id']] = Customer(payload['customer_id'])

  controller.customers[payload['customer_id']].process_load(Load(payload['id'], payload['load_amount'], payload['time']))
  accepted_status = controller.customers[payload['customer_id']].load_hist.approved_status.iloc[-1] 
  customer_id = controller.customers[payload['customer_id']].customer_id
  id =  controller.customers[payload['customer_id']].load_hist.load_id.iloc[-1]

  output = {"accepted": accepted_status, "customer_id": customer_id, "id": id}
  output_txt += str(output)
  print("output:{}".format(output))

input:{'id': 15887, 'customer_id': 528, 'load_amount': '$3318.47', 'time': '2000-01-01T00:00:00Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 528, 'id': 15887.0}
input:{'id': 30081, 'customer_id': 154, 'load_amount': '$1413.18', 'time': '2000-01-01T01:01:22Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 154, 'id': 30081.0}
input:{'id': 26540, 'customer_id': 426, 'load_amount': '$404.56', 'time': '2000-01-01T02:02:44Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 426, 'id': 26540.0}
input:{'id': 10694, 'customer_id': 1, 'load_amount': '$785.11', 'time': '2000-01-01T03:04:06Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 1, 'id': 10694.0}
input:{'id': 15089, 'customer_id': 205, 'load_amount': '$2247.28', 'time': '2000-01-01T04:05:28Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 205, 'id': 15089.0}
input:{'id': 3211, 'customer_id': 409, 'load_amount': '$314.45', 'time': '2000-01-01T05:06:50Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 409, 'id': 3211.0}
input:{'id': 27106, 'customer_id': 630, 'load_amount': '$1404.95', 'time': '2000-01-01T06:08:12Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 630, 'id': 27106.0}
input:{'id': 7528, 'customer_id': 273, 'load_amount': '$5862.58', 'time': '2000-01-01T07:09:34Z'}
ERROR: No room for daily deposits left
Load Rejected
output:{'accepted': False, 'customer_id': 273, 'id': 7528.0}
input:{'id': 27947, 'customer_id': 800, 'load_amount': '$3382.87', 'time': '2000-01-01T08:10:56Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 800, 'id': 27947.0}
input:{'id': 20790, 'customer_id': 647, 'load_amount': '$3930.15', 'time': '2000-01-01T09:12:18Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 647, 'id': 20790.0}
input:{'id': 12408, 'customer_id': 698, 'load_amount': '$4073.87', 'time': '2000-01-01T10:13:40Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 698, 'id': 12408.0}
input:{'id': 11429, 'customer_id': 528, 'load_amount': '$2253.56', 'time': '2000-01-01T11:15:02Z'}
ERROR: No room for daily deposits left
Load Rejected
output:{'accepted': False, 'customer_id': 528, 'id': 11429.0}
input:{'id': 16631, 'customer_id': 630, 'load_amount': '$5114.85', 'time': '2000-01-01T12:16:24Z'}
ERROR: No room for daily deposits left
Load Rejected
output:{'accepted': False, 'customer_id': 630, 'id': 16631.0}
input:{'id': 22413, 'customer_id': 443, 'load_amount': '$4030.90', 'time': '2000-01-01T13:17:46Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 443, 'id': 22413.0}
input:{'id': 10563, 'customer_id': 749, 'load_amount': '$3124.33', 'time': '2000-01-01T14:19:08Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 749, 'id': 10563.0}
input:{'id': 26078, 'customer_id': 800, 'load_amount': '$3643.24', 'time': '2000-01-01T15:20:30Z'}
ERROR: No room for daily deposits left
Load Rejected
output:{'accepted': False, 'customer_id': 800, 'id': 26078.0}
input:{'id': 11353, 'customer_id': 154, 'load_amount': '$3519.57', 'time': '2000-01-01T16:21:52Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 154, 'id': 11353.0}
input:{'id': 19189, 'customer_id': 358, 'load_amount': '$4821.99', 'time': '2000-01-01T17:23:14Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 358, 'id': 19189.0}
input:{'id': 18705, 'customer_id': 1, 'load_amount': '$3628.88', 'time': '2000-01-01T18:24:36Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 1, 'id': 18705.0}
input:{'id': 25703, 'customer_id': 647, 'load_amount': '$5893.55', 'time': '2000-01-01T19:25:58Z'}
ERROR: No room for daily deposits left
Load Rejected
output:{'accepted': False, 'customer_id': 647, 'id': 25703.0}
input:{'id': 20510, 'customer_id': 18, 'load_amount': '$526.05', 'time': '2000-01-01T20:27:20Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 18, 'id': 20510.0}
input:{'id': 28266, 'customer_id': 103, 'load_amount': '$898.28', 'time': '2000-01-01T21:28:42Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 103, 'id': 28266.0}
input:{'id': 3202, 'customer_id': 188, 'load_amount': '$4347.83', 'time': '2000-01-01T22:30:04Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 188, 'id': 3202.0}
input:{'id': 31563, 'customer_id': 783, 'load_amount': '$143.76', 'time': '2000-01-01T23:31:26Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 783, 'id': 31563.0}
input:{'id': 9718, 'customer_id': 35, 'load_amount': '$2254.47', 'time': '2000-01-02T00:32:48Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 35, 'id': 9718.0}
input:{'id': 5577, 'customer_id': 749, 'load_amount': '$5074.63', 'time': '2000-01-02T01:34:10Z'}
ERROR: No room for daily deposits left
Load Rejected
output:{'accepted': False, 'customer_id': 749, 'id': 5577.0}
input:{'id': 10420, 'customer_id': 783, 'load_amount': '$1186.23', 'time': '2000-01-02T02:35:32Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 783, 'id': 10420.0}
input:{'id': 27137, 'customer_id': 52, 'load_amount': '$5431.33', 'time': '2000-01-02T03:36:54Z'}
ERROR: No room for daily deposits left
Load Rejected
output:{'accepted': False, 'customer_id': 52, 'id': 27137.0}
input:{'id': 22059, 'customer_id': 698, 'load_amount': '$530.33', 'time': '2000-01-02T04:38:16Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 698, 'id': 22059.0}
input:{'id': 5891, 'customer_id': 732, 'load_amount': '$3020.02', 'time': '2000-01-02T05:39:38Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 732, 'id': 5891.0}
input:{'id': 21336, 'customer_id': 477, 'load_amount': '$3725.46', 'time': '2000-01-02T06:41:00Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 477, 'id': 21336.0}
input:{'id': 27940, 'customer_id': 120, 'load_amount': '$5065.03', 'time': '2000-01-02T07:42:22Z'}
ERROR: No room for daily deposits left
Load Rejected
output:{'accepted': False, 'customer_id': 120, 'id': 27940.0}
input:{'id': 7843, 'customer_id': 35, 'load_amount': '$5522.05', 'time': '2000-01-02T08:43:44Z'}
ERROR: No room for daily deposits left
Load Rejected
output:{'accepted': False, 'customer_id': 35, 'id': 7843.0}
input:{'id': 15425, 'customer_id': 817, 'load_amount': '$1813.51', 'time': '2000-01-02T09:45:06Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 817, 'id': 15425.0}
input:{'id': 21757, 'customer_id': 256, 'load_amount': '$5036.87', 'time': '2000-01-02T10:46:28Z'}
ERROR: No room for daily deposits left
Load Rejected
output:{'accepted': False, 'customer_id': 256, 'id': 21757.0}
input:{'id': 15410, 'customer_id': 171, 'load_amount': '$2952.85', 'time': '2000-01-02T11:47:50Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 171, 'id': 15410.0}
input:{'id': 11632, 'customer_id': 681, 'load_amount': '$4330.98', 'time': '2000-01-02T12:49:12Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 681, 'id': 11632.0}
input:{'id': 6591, 'customer_id': 52, 'load_amount': '$4885.82', 'time': '2000-01-02T13:50:34Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 52, 'id': 6591.0}
input:{'id': 23297, 'customer_id': 579, 'load_amount': '$592.67', 'time': '2000-01-02T14:51:56Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 579, 'id': 23297.0}
input:{'id': 29271, 'customer_id': 630, 'load_amount': '$3158.94', 'time': '2000-01-02T15:53:18Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 630, 'id': 29271.0}
input:{'id': 13802, 'customer_id': 443, 'load_amount': '$39.81', 'time': '2000-01-02T16:54:40Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 443, 'id': 13802.0}
input:{'id': 20066, 'customer_id': 494, 'load_amount': '$212.70', 'time': '2000-01-02T17:56:02Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 494, 'id': 20066.0}
input:{'id': 27086, 'customer_id': 732, 'load_amount': '$498.19', 'time': '2000-01-02T18:57:24Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 732, 'id': 27086.0}
input:{'id': 22052, 'customer_id': 528, 'load_amount': '$3171.75', 'time': '2000-01-02T19:58:46Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 528, 'id': 22052.0}
input:{'id': 13710, 'customer_id': 596, 'load_amount': '$513.87', 'time': '2000-01-02T21:00:08Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 596, 'id': 13710.0}
input:{'id': 25528, 'customer_id': 834, 'load_amount': '$1928.18', 'time': '2000-01-02T22:01:30Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 834, 'id': 25528.0}
input:{'id': 29903, 'customer_id': 579, 'load_amount': '$4512.24', 'time': '2000-01-02T23:02:52Z'}
ERROR: No room for daily deposits left
Load Rejected
output:{'accepted': False, 'customer_id': 579, 'id': 29903.0}
input:{'id': 21612, 'customer_id': 800, 'load_amount': '$3215.32', 'time': '2000-01-03T00:04:14Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 800, 'id': 21612.0}
input:{'id': 5839, 'customer_id': 273, 'load_amount': '$2905.40', 'time': '2000-01-03T01:05:36Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 273, 'id': 5839.0}
input:{'id': 3051, 'customer_id': 613, 'load_amount': '$3580.76', 'time': '2000-01-03T02:06:58Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 613, 'id': 3051.0}
input:{'id': 1351, 'customer_id': 681, 'load_amount': '$3188.44', 'time': '2000-01-03T03:08:20Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 681, 'id': 1351.0}
input:{'id': 24305, 'customer_id': 239, 'load_amount': '$1991.83', 'time': '2000-01-03T04:09:42Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 239, 'id': 24305.0}
input:{'id': 20090, 'customer_id': 18, 'load_amount': '$4616.02', 'time': '2000-01-03T05:11:04Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 18, 'id': 20090.0}
input:{'id': 27767, 'customer_id': 137, 'load_amount': '$5432.31', 'time': '2000-01-03T06:12:26Z'}
ERROR: No room for daily deposits left
Load Rejected
output:{'accepted': False, 'customer_id': 137, 'id': 27767.0}
input:{'id': 4154, 'customer_id': 477, 'load_amount': '$5678.22', 'time': '2000-01-03T07:13:48Z'}
ERROR: No room for daily deposits left
Load Rejected
output:{'accepted': False, 'customer_id': 477, 'id': 4154.0}
input:{'id': 1342, 'customer_id': 392, 'load_amount': '$1042.08', 'time': '2000-01-03T08:15:10Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 392, 'id': 1342.0}
input:{'id': 27968, 'customer_id': 732, 'load_amount': '$4011.66', 'time': '2000-01-03T09:16:32Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 732, 'id': 27968.0}
input:{'id': 6535, 'customer_id': 171, 'load_amount': '$1904.40', 'time': '2000-01-03T10:17:54Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 171, 'id': 6535.0}
input:{'id': 25162, 'customer_id': 69, 'load_amount': '$1546.57', 'time': '2000-01-03T11:19:16Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 69, 'id': 25162.0}
input:{'id': 21371, 'customer_id': 256, 'load_amount': '$3830.39', 'time': '2000-01-03T12:20:38Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 256, 'id': 21371.0}
input:{'id': 1513, 'customer_id': 511, 'load_amount': '$5197.00', 'time': '2000-01-03T13:22:00Z'}
ERROR: No room for daily deposits left
Load Rejected
output:{'accepted': False, 'customer_id': 511, 'id': 1513.0}
input:{'id': 12720, 'customer_id': 154, 'load_amount': '$2407.83', 'time': '2000-01-03T14:23:22Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 154, 'id': 12720.0}
input:{'id': 16984, 'customer_id': 341, 'load_amount': '$4682.47', 'time': '2000-01-03T15:24:44Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 341, 'id': 16984.0}
input:{'id': 16565, 'customer_id': 171, 'load_amount': '$4941.62', 'time': '2000-01-03T16:26:06Z'}
ERROR: No room for daily deposits left
Load Rejected
output:{'accepted': False, 'customer_id': 171, 'id': 16565.0}
input:{'id': 23920, 'customer_id': 494, 'load_amount': '$1620.48', 'time': '2000-01-03T17:27:28Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 494, 'id': 23920.0}
input:{'id': 11695, 'customer_id': 103, 'load_amount': '$786.66', 'time': '2000-01-03T18:28:50Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 103, 'id': 11695.0}
input:{'id': 11456, 'customer_id': 1, 'load_amount': '$2566.29', 'time': '2000-01-03T19:30:12Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 1, 'id': 11456.0}
input:{'id': 30831, 'customer_id': 715, 'load_amount': '$5975.77', 'time': '2000-01-03T20:31:34Z'}
ERROR: No room for daily deposits left
Load Rejected
output:{'accepted': False, 'customer_id': 715, 'id': 30831.0}
input:{'id': 25320, 'customer_id': 613, 'load_amount': '$3953.99', 'time': '2000-01-03T21:32:56Z'}
ERROR: No room for daily deposits left
Load Rejected
output:{'accepted': False, 'customer_id': 613, 'id': 25320.0}
input:{'id': 3447, 'customer_id': 205, 'load_amount': '$5902.92', 'time': '2000-01-03T22:34:18Z'}
ERROR: No room for daily deposits left
Load Rejected
output:{'accepted': False, 'customer_id': 205, 'id': 3447.0}
input:{'id': 4611, 'customer_id': 647, 'load_amount': '$1691.03', 'time': '2000-01-03T23:35:40Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 647, 'id': 4611.0}
input:{'id': 2318, 'customer_id': 647, 'load_amount': '$1237.56', 'time': '2000-01-04T00:37:02Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 647, 'id': 2318.0}
input:{'id': 5807, 'customer_id': 324, 'load_amount': '$1261.57', 'time': '2000-01-04T01:38:24Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 324, 'id': 5807.0}
input:{'id': 30675, 'customer_id': 35, 'load_amount': '$2221.81', 'time': '2000-01-04T02:39:46Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 35, 'id': 30675.0}
input:{'id': 10795, 'customer_id': 52, 'load_amount': '$4104.17', 'time': '2000-01-04T03:41:08Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 52, 'id': 10795.0}
input:{'id': 30470, 'customer_id': 732, 'load_amount': '$1789.96', 'time': '2000-01-04T04:42:30Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 732, 'id': 30470.0}
input:{'id': 26632, 'customer_id': 613, 'load_amount': '$5825.20', 'time': '2000-01-04T05:43:52Z'}
ERROR: No room for daily deposits left
Load Rejected
output:{'accepted': False, 'customer_id': 613, 'id': 26632.0}
input:{'id': 5922, 'customer_id': 171, 'load_amount': '$2470.29', 'time': '2000-01-04T06:45:14Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 171, 'id': 5922.0}
input:{'id': 6060, 'customer_id': 188, 'load_amount': '$524.20', 'time': '2000-01-04T07:46:36Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 188, 'id': 6060.0}
input:{'id': 24954, 'customer_id': 494, 'load_amount': '$3314.64', 'time': '2000-01-04T08:47:58Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 494, 'id': 24954.0}
input:{'id': 5551, 'customer_id': 171, 'load_amount': '$3411.81', 'time': '2000-01-04T09:49:20Z'}
ERROR: No room for daily deposits left
Load Rejected
output:{'accepted': False, 'customer_id': 171, 'id': 5551.0}
input:{'id': 23516, 'customer_id': 120, 'load_amount': '$3506.00', 'time': '2000-01-04T10:50:42Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 120, 'id': 23516.0}
input:{'id': 4637, 'customer_id': 664, 'load_amount': '$415.33', 'time': '2000-01-04T11:52:04Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 664, 'id': 4637.0}
input:{'id': 4804, 'customer_id': 188, 'load_amount': '$5766.85', 'time': '2000-01-04T12:53:26Z'}
ERROR: No room for daily deposits left
Load Rejected
output:{'accepted': False, 'customer_id': 188, 'id': 4804.0}
input:{'id': 15215, 'customer_id': 154, 'load_amount': '$5317.19', 'time': '2000-01-04T13:54:48Z'}
ERROR: No room for daily deposits left
Load Rejected
output:{'accepted': False, 'customer_id': 154, 'id': 15215.0}
input:{'id': 11040, 'customer_id': 239, 'load_amount': '$4386.62', 'time': '2000-01-04T14:56:10Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 239, 'id': 11040.0}
input:{'id': 8000, 'customer_id': 681, 'load_amount': '$2192.84', 'time': '2000-01-04T15:57:32Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 681, 'id': 8000.0}
input:{'id': 14235, 'customer_id': 392, 'load_amount': '$1964.43', 'time': '2000-01-04T16:58:54Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 392, 'id': 14235.0}
input:{'id': 24390, 'customer_id': 358, 'load_amount': '$4605.74', 'time': '2000-01-04T18:00:16Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 358, 'id': 24390.0}
input:{'id': 4070, 'customer_id': 324, 'load_amount': '$5863.36', 'time': '2000-01-04T19:01:38Z'}
ERROR: No room for daily deposits left
Load Rejected
output:{'accepted': False, 'customer_id': 324, 'id': 4070.0}
input:{'id': 5472, 'customer_id': 647, 'load_amount': '$2015.44', 'time': '2000-01-04T20:03:00Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 647, 'id': 5472.0}
input:{'id': 16174, 'customer_id': 766, 'load_amount': '$4112.37', 'time': '2000-01-04T21:04:22Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 766, 'id': 16174.0}
input:{'id': 25293, 'customer_id': 409, 'load_amount': '$216.06', 'time': '2000-01-04T22:05:44Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 409, 'id': 25293.0}
input:{'id': 29352, 'customer_id': 817, 'load_amount': '$4274.20', 'time': '2000-01-04T23:07:06Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 817, 'id': 29352.0}
input:{'id': 6371, 'customer_id': 375, 'load_amount': '$2361.17', 'time': '2000-01-05T00:08:28Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 375, 'id': 6371.0}
input:{'id': 15265, 'customer_id': 18, 'load_amount': '$1986.82', 'time': '2000-01-05T01:09:50Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 18, 'id': 15265.0}
input:{'id': 8592, 'customer_id': 494, 'load_amount': '$701.29', 'time': '2000-01-05T02:11:12Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 494, 'id': 8592.0}
input:{'id': 16721, 'customer_id': 528, 'load_amount': '$608.55', 'time': '2000-01-05T03:12:34Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 528, 'id': 16721.0}
input:{'id': 5343, 'customer_id': 188, 'load_amount': '$2310.53', 'time': '2000-01-05T04:13:56Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 188, 'id': 5343.0}
input:{'id': 7859, 'customer_id': 273, 'load_amount': '$5998.67', 'time': '2000-01-05T05:15:18Z'}
ERROR: No room for daily deposits left
Load Rejected
output:{'accepted': False, 'customer_id': 273, 'id': 7859.0}
input:{'id': 1008, 'customer_id': 137, 'load_amount': '$4755.28', 'time': '2000-01-05T06:16:40Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 137, 'id': 1008.0}
input:{'id': 12774, 'customer_id': 52, 'load_amount': '$1582.84', 'time': '2000-01-05T07:18:02Z'}
All Rules Passed ... Load Added
output:{'accepted': True, 'customer_id': 52, 'id': 12774.0}

In [118]:
controller.customers[545].load_hist

    customer_id  load_id  load_amt  ...  rule1  rule2  rule3
0           545  25179.0   5338.75  ...  False   True   True
1           545  15495.0   5308.56  ...  False   True   True
2           545  15605.0   5631.18  ...  False   True   True
3           545  10083.0   3580.90  ...   True   True   True
4           545   5335.0   5518.54  ...  False   True   True
5           545  29910.0    279.17  ...   True   True   True
6           545  28249.0   3265.54  ...   True   True   True
7           545   3111.0   4007.33  ...   True   True   True
8           545  19377.0   4404.66  ...  False   True   True
9           545  29415.0   3047.54  ...   True   True   True
10          545   8836.0   5239.64  ...  False   True   True
11          545  11303.0   3649.10  ...   True   True   True
12          545  24016.0   2883.36  ...  False   True   True
13          545   9535.0   3391.76  ...   True   True   True
14          545   6963.0   2087.86  ...   True   True   True
15          545  12754.0   1945.46  ...   True   True   True
16          545  14676.0   2126.74  ...  False   True   True
17          545   7518.0   4358.85  ...   True   True   True
18          545   7431.0   1449.03  ...   True   True   True
19          545  14585.0   2891.94  ...   True   True   True
20          545  20021.0   1875.96  ...   True   True   True

[21 rows x 12 columns]

In [111]:
print(output_txt)

{'accepted': True, 'customer_id': 528, 'id': 15887.0}{'accepted': True, 'customer_id': 154, 'id': 30081.0}{'accepted': True, 'customer_id': 426, 'id': 26540.0}{'accepted': True, 'customer_id': 1, 'id': 10694.0}{'accepted': True, 'customer_id': 205, 'id': 15089.0}{'accepted': True, 'customer_id': 409, 'id': 3211.0}{'accepted': True, 'customer_id': 630, 'id': 27106.0}{'accepted': False, 'customer_id': 273, 'id': 7528.0}{'accepted': True, 'customer_id': 800, 'id': 27947.0}{'accepted': True, 'customer_id': 647, 'id': 20790.0}{'accepted': True, 'customer_id': 698, 'id': 12408.0}{'accepted': False, 'customer_id': 528, 'id': 11429.0}{'accepted': False, 'customer_id': 630, 'id': 16631.0}{'accepted': True, 'customer_id': 443, 'id': 22413.0}{'accepted': True, 'customer_id': 749, 'id': 10563.0}{'accepted': False, 'customer_id': 800, 'id': 26078.0}{'accepted': True, 'customer_id': 154, 'id': 11353.0}{'accepted': True, 'customer_id': 358, 'id': 19189.0}{'accepted': True, 'customer_id': 1, 'id': 18705.0}{'accepted': False, 'customer_id': 647, 'id': 25703.0}{'accepted': True, 'customer_id': 18, 'id': 20510.0}{'accepted': True, 'customer_id': 103, 'id': 28266.0}{'accepted': True, 'customer_id': 188, 'id': 3202.0}{'accepted': True, 'customer_id': 783, 'id': 31563.0}{'accepted': True, 'customer_id': 35, 'id': 9718.0}{'accepted': False, 'customer_id': 749, 'id': 5577.0}{'accepted': True, 'customer_id': 783, 'id': 10420.0}{'accepted': False, 'customer_id': 52, 'id': 27137.0}{'accepted': True, 'customer_id': 698, 'id': 22059.0}{'accepted': True, 'customer_id': 732, 'id': 5891.0}{'accepted': True, 'customer_id': 477, 'id': 21336.0}{'accepted': False, 'customer_id': 120, 'id': 27940.0}{'accepted': False, 'customer_id': 35, 'id': 7843.0}{'accepted': True, 'customer_id': 817, 'id': 15425.0}{'accepted': False, 'customer_id': 256, 'id': 21757.0}{'accepted': True, 'customer_id': 171, 'id': 15410.0}{'accepted': True, 'customer_id': 681, 'id': 11632.0}{'accepted': True, 'customer_id': 52, 'id': 6591.0}{'accepted': True, 'customer_id': 579, 'id': 23297.0}{'accepted': True, 'customer_id': 630, 'id': 29271.0}{'accepted': True, 'customer_id': 443, 'id': 13802.0}{'accepted': True, 'customer_id': 494, 'id': 20066.0}{'accepted': True, 'customer_id': 732, 'id': 27086.0}{'accepted': True, 'customer_id': 528, 'id': 22052.0}{'accepted': True, 'customer_id': 596, 'id': 13710.0}{'accepted': True, 'customer_id': 834, 'id': 25528.0}{'accepted': False, 'customer_id': 579, 'id': 29903.0}{'accepted': True, 'customer_id': 800, 'id': 21612.0}{'accepted': True, 'customer_id': 273, 'id': 5839.0}{'accepted': True, 'customer_id': 613, 'id': 3051.0}{'accepted': True, 'customer_id': 681, 'id': 1351.0}{'accepted': True, 'customer_id': 239, 'id': 24305.0}{'accepted': True, 'customer_id': 18, 'id': 20090.0}{'accepted': False, 'customer_id': 137, 'id': 27767.0}{'accepted': False, 'customer_id': 477, 'id': 4154.0}{'accepted': True, 'customer_id': 392, 'id': 1342.0}{'accepted': True, 'customer_id': 732, 'id': 27968.0}{'accepted': True, 'customer_id': 171, 'id': 6535.0}{'accepted': True, 'customer_id': 69, 'id': 25162.0}{'accepted': True, 'customer_id': 256, 'id': 21371.0}{'accepted': False, 'customer_id': 511, 'id': 1513.0}{'accepted': True, 'customer_id': 154, 'id': 12720.0}{'accepted': True, 'customer_id': 341, 'id': 16984.0}{'accepted': False, 'customer_id': 171, 'id': 16565.0}{'accepted': True, 'customer_id': 494, 'id': 23920.0}{'accepted': True, 'customer_id': 103, 'id': 11695.0}{'accepted': True, 'customer_id': 1, 'id': 11456.0}{'accepted': False, 'customer_id': 715, 'id': 30831.0}{'accepted': False, 'customer_id': 613, 'id': 25320.0}{'accepted': False, 'customer_id': 205, 'id': 3447.0}{'accepted': True, 'customer_id': 647, 'id': 4611.0}{'accepted': True, 'customer_id': 647, 'id': 2318.0}{'accepted': True, 'customer_id': 324, 'id': 5807.0}{'accepted': True, 'customer_id': 35, 'id': 30675.0}{'accepted': True, 'customer_id': 52, 'id': 10795.0}{'accepted': True, 'customer_id': 732, 'id': 30470.0}{'accepted': False, 'customer_id': 613, 'id': 26632.0}{'accepted': True, 'customer_id': 171, 'id': 5922.0}{'accepted': True, 'customer_id': 188, 'id': 6060.0}{'accepted': True, 'customer_id': 494, 'id': 24954.0}{'accepted': False, 'customer_id': 171, 'id': 5551.0}{'accepted': True, 'customer_id': 120, 'id': 23516.0}{'accepted': True, 'customer_id': 664, 'id': 4637.0}{'accepted': False, 'customer_id': 188, 'id': 4804.0}{'accepted': False, 'customer_id': 154, 'id': 15215.0}{'accepted': True, 'customer_id': 239, 'id': 11040.0}{'accepted': True, 'customer_id': 681, 'id': 8000.0}{'accepted': True, 'customer_id': 392, 'id': 14235.0}{'accepted': True, 'customer_id': 358, 'id': 24390.0}{'accepted': False, 'customer_id': 324, 'id': 4070.0}{'accepted': True, 'customer_id': 647, 'id': 5472.0}{'accepted': True, 'customer_id': 766, 'id': 16174.0}{'accepted': True, 'customer_id': 409, 'id': 25293.0}{'accepted': True, 'customer_id': 817, 'id': 29352.0}{'accepted': True, 'customer_id': 375, 'id': 6371.0}{'accepted': True, 'customer_id': 18, 'id': 15265.0}{'accepted': True, 'customer_id': 494, 'id': 8592.0}{'accepted': True, 'customer_id': 528, 'id': 16721.0}{'accepted': True, 'customer_id': 188, 'id': 5343.0}{'accepted': False, 'customer_id': 273, 'id': 7859.0}{'accepted': True, 'customer_id': 137, 'id': 1008.0}{'accepted': True, 'customer_id': 52, 'id': 12774.0}{'accepted': True, 'customer_id': 426, 'id': 11874.0}{'accepted': True, 'customer_id': 630, 'id': 12286.0}{'accepted': True, 'customer_id': 239, 'id': 14658.0}{'accepted': True, 'customer_id': 783, 'id': 3723.0}{'accepted': False, 'customer_id': 630, 'id': 23657.0}{'accepted': True, 'customer_id': 664, 'id': 20531.0}{'accepted': False, 'customer_id': 562, 'id': 6928.0}{'accepted': True, 'customer_id': 443, 'id': 1477.0}{'accepted': False, 'customer_id': 613, 'id': 6051.0}{'accepted': True, 'customer_id': 205, 'id': 8789.0}{'accepted': False, 'customer_id': 630, 'id': 17430.0}{'accepted': True, 'customer_id': 477, 'id': 29159.0}{'accepted': True, 'customer_id': 35, 'id': 29418.0}{'accepted': True, 'customer_id': 358, 'id': 15653.0}{'accepted': True, 'customer_id': 341, 'id': 11081.0}{'accepted': True, 'customer_id': 443, 'id': 1509.0}{'accepted': True, 'customer_id': 103, 'id': 3695.0}{'accepted': True, 'customer_id': 579, 'id': 24477.0}{'accepted': True, 'customer_id': 477, 'id': 22175.0}{'accepted': True, 'customer_id': 511, 'id': 31808.0}{'accepted': False, 'customer_id': 256, 'id': 558.0}{'accepted': True, 'customer_id': 715, 'id': 29023.0}{'accepted': True, 'customer_id': 392, 'id': 28972.0}{'accepted': True, 'customer_id': 137, 'id': 13527.0}{'accepted': True, 'customer_id': 817, 'id': 25513.0}{'accepted': False, 'customer_id': 409, 'id': 31306.0}{'accepted': True, 'customer_id': 528, 'id': 16332.0}{'accepted': True, 'customer_id': 35, 'id': 31654.0}{'accepted': False, 'customer_id': 511, 'id': 28686.0}{'accepted': True, 'customer_id': 205, 'id': 12604.0}{'accepted': True, 'customer_id': 732, 'id': 12398.0}{'accepted': True, 'customer_id': 256, 'id': 20922.0}{'accepted': True, 'customer_id': 749, 'id': 806.0}{'accepted': True, 'customer_id': 409, 'id': 31420.0}{'accepted': True, 'customer_id': 154, 'id': 4007.0}{'accepted': True, 'customer_id': 120, 'id': 24853.0}{'accepted': True, 'customer_id': 426, 'id': 1740.0}{'accepted': True, 'customer_id': 239, 'id': 18545.0}{'accepted': False, 'customer_id': 528, 'id': 27131.0}{'accepted': True, 'customer_id': 596, 'id': 21629.0}{'accepted': True, 'customer_id': 766, 'id': 5092.0}{'accepted': True, 'customer_id': 426, 'id': 12377.0}{'accepted': True, 'customer_id': 392, 'id': 27017.0}{'accepted': True, 'customer_id': 120, 'id': 27780.0}{'accepted': True, 'customer_id': 103, 'id': 22474.0}{'accepted': False, 'customer_id': 392, 'id': 10894.0}{'accepted': True, 'customer_id': 562, 'id': 3574.0}{'accepted': False, 'customer_id': 511, 'id': 5395.0}{'accepted': False, 'customer_id': 392, 'id': 7650.0}{'accepted': True, 'customer_id': 460, 'id': 17645.0}{'accepted': True, 'customer_id': 137, 'id': 198.0}{'accepted': True, 'customer_id': 494, 'id': 31354.0}{'accepted': True, 'customer_id': 630, 'id': 21326.0}{'accepted': True, 'customer_id': 358, 'id': 23267.0}{'accepted': True, 'customer_id': 834, 'id': 19488.0}{'accepted': True, 'customer_id': 409, 'id': 16401.0}{'accepted': False, 'customer_id': 392, 'id': 21596.0}{'accepted': False, 'customer_id': 426, 'id': 12110.0}{'accepted': True, 'customer_id': 222, 'id': 23214.0}{'accepted': True, 'customer_id': 426, 'id': 29446.0}{'accepted': True, 'customer_id': 749, 'id': 13063.0}{'accepted': False, 'customer_id': 630, 'id': 13488.0}{'accepted': False, 'customer_id': 426, 'id': 3026.0}{'accepted': True, 'customer_id': 1, 'id': 11114.0}{'accepted': False, 'customer_id': 443, 'id': 23300.0}{'accepted': True, 'customer_id': 579, 'id': 10619.0}{'accepted': True, 'customer_id': 222, 'id': 1045.0}{'accepted': True, 'customer_id': 715, 'id': 4239.0}{'accepted': True, 'customer_id': 358, 'id': 18574.0}{'accepted': True, 'customer_id': 1, 'id': 7485.0}{'accepted': True, 'customer_id': 239, 'id': 12560.0}{'accepted': True, 'customer_id': 324, 'id': 23582.0}{'accepted': False, 'customer_id': 222, 'id': 18516.0}{'accepted': True, 'customer_id': 18, 'id': 13555.0}{'accepted': False, 'customer_id': 222, 'id': 8217.0}{'accepted': False, 'customer_id': 545, 'id': 25179.0}{'accepted': True, 'customer_id': 562, 'id': 29740.0}{'accepted': False, 'customer_id': 579, 'id': 7552.0}{'accepted': True, 'customer_id': 630, 'id': 4647.0}{'accepted': True, 'customer_id': 205, 'id': 18346.0}{'accepted': False, 'customer_id': 69, 'id': 3356.0}{'accepted': True, 'customer_id': 664, 'id': 17223.0}{'accepted': True, 'customer_id': 239, 'id': 13339.0}{'accepted': False, 'customer_id': 324, 'id': 21953.0}{'accepted': True, 'customer_id': 749, 'id': 27985.0}{'accepted': False, 'customer_id': 222, 'id': 5401.0}{'accepted': False, 'customer_id': 120, 'id': 8184.0}{'accepted': True, 'customer_id': 562, 'id': 28721.0}{'accepted': True, 'customer_id': 256, 'id': 17540.0}{'accepted': True, 'customer_id': 715, 'id': 6591.0}{'accepted': False, 'customer_id': 18, 'id': 23707.0}{'accepted': True, 'customer_id': 766, 'id': 16516.0}{'accepted': False, 'customer_id': 562, 'id': 7755.0}{'accepted': True, 'customer_id': 681, 'id': 11694.0}{'accepted': False, 'customer_id': 681, 'id': 29417.0}{'accepted': True, 'customer_id': 239, 'id': 2370.0}{'accepted': True, 'customer_id': 307, 'id': 20476.0}{'accepted': True, 'customer_id': 783, 'id': 8825.0}{'accepted': True, 'customer_id': 205, 'id': 30243.0}{'accepted': True, 'customer_id': 358, 'id': 28713.0}{'accepted': True, 'customer_id': 732, 'id': 10870.0}{'accepted': True, 'customer_id': 613, 'id': 5841.0}{'accepted': True, 'customer_id': 817, 'id': 23585.0}{'accepted': True, 'customer_id': 137, 'id': 24718.0}{'accepted': False, 'customer_id': 596, 'id': 15815.0}{'accepted': False, 'customer_id': 817, 'id': 356.0}{'accepted': True, 'customer_id': 409, 'id': 25099.0}{'accepted': True, 'customer_id': 18, 'id': 25161.0}{'accepted': True, 'customer_id': 715, 'id': 10524.0}{'accepted': True, 'customer_id': 307, 'id': 7063.0}{'accepted': False, 'customer_id': 817, 'id': 31350.0}{'accepted': True, 'customer_id': 35, 'id': 3390.0}{'accepted': True, 'customer_id': 834, 'id': 26760.0}{'accepted': True, 'customer_id': 171, 'id': 28351.0}{'accepted': True, 'customer_id': 18, 'id': 2722.0}{'accepted': True, 'customer_id': 579, 'id': 30013.0}{'accepted': True, 'customer_id': 817, 'id': 15817.0}{'accepted': True, 'customer_id': 681, 'id': 12053.0}{'accepted': False, 'customer_id': 18, 'id': 29006.0}{'accepted': False, 'customer_id': 358, 'id': 13577.0}{'accepted': True, 'customer_id': 290, 'id': 25407.0}{'accepted': True, 'customer_id': 1, 'id': 16907.0}{'accepted': False, 'customer_id': 766, 'id': 28835.0}{'accepted': True, 'customer_id': 511, 'id': 24904.0}{'accepted': True, 'customer_id': 35, 'id': 4775.0}{'accepted': True, 'customer_id': 120, 'id': 21453.0}{'accepted': True, 'customer_id': 392, 'id': 13201.0}{'accepted': False, 'customer_id': 1, 'id': 31045.0}{'accepted': True, 'customer_id': 834, 'id': 6138.0}{'accepted': False, 'customer_id': 256, 'id': 5775.0}{'accepted': False, 'customer_id': 681, 'id': 12860.0}{'accepted': True, 'customer_id': 732, 'id': 14551.0}{'accepted': True, 'customer_id': 477, 'id': 15281.0}{'accepted': False, 'customer_id': 494, 'id': 4615.0}{'accepted': True, 'customer_id': 188, 'id': 23648.0}{'accepted': True, 'customer_id': 732, 'id': 836.0}{'accepted': True, 'customer_id': 171, 'id': 29836.0}{'accepted': True, 'customer_id': 562, 'id': 4128.0}{'accepted': True, 'customer_id': 205, 'id': 30779.0}{'accepted': True, 'customer_id': 732, 'id': 13787.0}{'accepted': True, 'customer_id': 392, 'id': 7723.0}{'accepted': True, 'customer_id': 681, 'id': 28277.0}{'accepted': True, 'customer_id': 18, 'id': 5847.0}{'accepted': False, 'customer_id': 120, 'id': 28659.0}{'accepted': True, 'customer_id': 783, 'id': 16152.0}{'accepted': True, 'customer_id': 647, 'id': 1237.0}{'accepted': False, 'customer_id': 715, 'id': 25138.0}{'accepted': True, 'customer_id': 800, 'id': 30144.0}{'accepted': True, 'customer_id': 137, 'id': 3727.0}{'accepted': False, 'customer_id': 69, 'id': 1352.0}{'accepted': False, 'customer_id': 18, 'id': 31438.0}{'accepted': True, 'customer_id': 647, 'id': 23780.0}{'accepted': True, 'customer_id': 358, 'id': 4641.0}{'accepted': True, 'customer_id': 460, 'id': 3636.0}{'accepted': False, 'customer_id': 579, 'id': 29044.0}{'accepted': True, 'customer_id': 817, 'id': 24523.0}{'accepted': True, 'customer_id': 766, 'id': 10362.0}{'accepted': True, 'customer_id': 494, 'id': 27107.0}{'accepted': False, 'customer_id': 545, 'id': 15495.0}{'accepted': True, 'customer_id': 477, 'id': 28989.0}{'accepted': True, 'customer_id': 698, 'id': 30915.0}{'accepted': True, 'customer_id': 239, 'id': 1920.0}{'accepted': True, 'customer_id': 52, 'id': 14804.0}{'accepted': True, 'customer_id': 171, 'id': 8879.0}{'accepted': True, 'customer_id': 256, 'id': 10385.0}{'accepted': True, 'customer_id': 222, 'id': 29325.0}{'accepted': True, 'customer_id': 18, 'id': 25380.0}{'accepted': True, 'customer_id': 205, 'id': 26832.0}{'accepted': True, 'customer_id': 239, 'id': 19438.0}{'accepted': True, 'customer_id': 647, 'id': 27809.0}{'accepted': False, 'customer_id': 103, 'id': 26587.0}{'accepted': True, 'customer_id': 137, 'id': 1244.0}{'accepted': True, 'customer_id': 783, 'id': 7243.0}{'accepted': True, 'customer_id': 392, 'id': 4344.0}{'accepted': True, 'customer_id': 1, 'id': 7806.0}{'accepted': True, 'customer_id': 222, 'id': 21378.0}{'accepted': True, 'customer_id': 188, 'id': 31140.0}{'accepted': True, 'customer_id': 477, 'id': 4444.0}{'accepted': True, 'customer_id': 205, 'id': 26383.0}{'accepted': True, 'customer_id': 596, 'id': 8971.0}{'accepted': True, 'customer_id': 137, 'id': 29004.0}{'accepted': True, 'customer_id': 562, 'id': 23816.0}{'accepted': True, 'customer_id': 783, 'id': 17556.0}{'accepted': True, 'customer_id': 273, 'id': 23317.0}{'accepted': True, 'customer_id': 460, 'id': 21203.0}{'accepted': True, 'customer_id': 188, 'id': 30784.0}{'accepted': True, 'customer_id': 494, 'id': 2111.0}{'accepted': True, 'customer_id': 69, 'id': 17650.0}{'accepted': True, 'customer_id': 698, 'id': 17247.0}{'accepted': True, 'customer_id': 630, 'id': 13464.0}{'accepted': True, 'customer_id': 120, 'id': 8403.0}{'accepted': False, 'customer_id': 647, 'id': 11617.0}{'accepted': True, 'customer_id': 443, 'id': 19366.0}{'accepted': True, 'customer_id': 86, 'id': 9585.0}{'accepted': True, 'customer_id': 494, 'id': 21341.0}{'accepted': True, 'customer_id': 69, 'id': 26319.0}{'accepted': True, 'customer_id': 562, 'id': 7836.0}{'accepted': True, 'customer_id': 52, 'id': 5330.0}{'accepted': False, 'customer_id': 120, 'id': 13672.0}{'accepted': False, 'customer_id': 817, 'id': 17691.0}{'accepted': False, 'customer_id': 630, 'id': 5472.0}{'accepted': True, 'customer_id': 494, 'id': 15004.0}{'accepted': True, 'customer_id': 664, 'id': 22118.0}{'accepted': True, 'customer_id': 137, 'id': 13650.0}{'accepted': True, 'customer_id': 477, 'id': 6817.0}{'accepted': True, 'customer_id': 222, 'id': 10269.0}{'accepted': True, 'customer_id': 171, 'id': 5952.0}{'accepted': True, 'customer_id': 375, 'id': 209.0}{'accepted': True, 'customer_id': 630, 'id': 13388.0}{'accepted': False, 'customer_id': 307, 'id': 21933.0}{'accepted': False, 'customer_id': 562, 'id': 6966.0}{'accepted': True, 'customer_id': 409, 'id': 11521.0}{'accepted': True, 'customer_id': 817, 'id': 146.0}{'accepted': True, 'customer_id': 69, 'id': 21963.0}{'accepted': True, 'customer_id': 698, 'id': 25859.0}{'accepted': True, 'customer_id': 800, 'id': 16999.0}{'accepted': False, 'customer_id': 834, 'id': 13925.0}{'accepted': True, 'customer_id': 477, 'id': 20830.0}{'accepted': True, 'customer_id': 290, 'id': 19602.0}{'accepted': True, 'customer_id': 528, 'id': 14972.0}{'accepted': False, 'customer_id': 545, 'id': 15605.0}{'accepted': True, 'customer_id': 596, 'id': 30593.0}{'accepted': True, 'customer_id': 426, 'id': 24816.0}{'accepted': True, 'customer_id': 256, 'id': 18076.0}{'accepted': True, 'customer_id': 749, 'id': 2641.0}{'accepted': True, 'customer_id': 239, 'id': 31158.0}{'accepted': True, 'customer_id': 681, 'id': 12237.0}{'accepted': True, 'customer_id': 749, 'id': 20411.0}{'accepted': True, 'customer_id': 409, 'id': 9011.0}{'accepted': True, 'customer_id': 715, 'id': 20182.0}{'accepted': True, 'customer_id': 443, 'id': 18470.0}{'accepted': True, 'customer_id': 205, 'id': 21185.0}{'accepted': True, 'customer_id': 222, 'id': 10822.0}{'accepted': False, 'customer_id': 120, 'id': 8964.0}{'accepted': True, 'customer_id': 35, 'id': 9154.0}{'accepted': True, 'customer_id': 800, 'id': 20529.0}{'accepted': True, 'customer_id': 579, 'id': 5349.0}{'accepted': False, 'customer_id': 290, 'id': 22496.0}{'accepted': True, 'customer_id': 375, 'id': 12972.0}{'accepted': True, 'customer_id': 817, 'id': 7893.0}{'accepted': True, 'customer_id': 766, 'id': 16934.0}{'accepted': True, 'customer_id': 86, 'id': 28775.0}{'accepted': True, 'customer_id': 698, 'id': 1827.0}{'accepted': True, 'customer_id': 766, 'id': 31916.0}{'accepted': True, 'customer_id': 715, 'id': 18610.0}{'accepted': False, 'customer_id': 732, 'id': 25203.0}{'accepted': True, 'customer_id': 69, 'id': 23929.0}{'accepted': False, 'customer_id': 681, 'id': 28437.0}{'accepted': True, 'customer_id': 52, 'id': 5140.0}{'accepted': True, 'customer_id': 766, 'id': 11526.0}{'accepted': True, 'customer_id': 715, 'id': 13865.0}{'accepted': True, 'customer_id': 35, 'id': 2192.0}{'accepted': True, 'customer_id': 647, 'id': 23481.0}{'accepted': False, 'customer_id': 647, 'id': 25684.0}{'accepted': True, 'customer_id': 579, 'id': 28467.0}{'accepted': True, 'customer_id': 426, 'id': 28306.0}{'accepted': True, 'customer_id': 273, 'id': 24527.0}{'accepted': True, 'customer_id': 358, 'id': 28107.0}{'accepted': True, 'customer_id': 86, 'id': 20805.0}{'accepted': True, 'customer_id': 511, 'id': 17513.0}{'accepted': True, 'customer_id': 171, 'id': 16075.0}{'accepted': False, 'customer_id': 273, 'id': 10912.0}{'accepted': True, 'customer_id': 494, 'id': 7488.0}{'accepted': True, 'customer_id': 545, 'id': 10083.0}{'accepted': True, 'customer_id': 800, 'id': 24269.0}{'accepted': False, 'customer_id': 358, 'id': 17359.0}{'accepted': True, 'customer_id': 749, 'id': 4555.0}{'accepted': True, 'customer_id': 222, 'id': 20574.0}{'accepted': False, 'customer_id': 800, 'id': 17709.0}{'accepted': False, 'customer_id': 86, 'id': 20025.0}{'accepted': True, 'customer_id': 528, 'id': 16192.0}{'accepted': False, 'customer_id': 171, 'id': 21107.0}{'accepted': False, 'customer_id': 358, 'id': 18680.0}{'accepted': True, 'customer_id': 256, 'id': 7275.0}{'accepted': True, 'customer_id': 562, 'id': 14130.0}{'accepted': True, 'customer_id': 35, 'id': 13856.0}{'accepted': True, 'customer_id': 664, 'id': 3099.0}

### Creating Output Text File

In [112]:
output_text_file = open("output.txt", "w")
output_text_file.write(output_txt)
output_text_file.close()

In [113]:
ls

output.txt  rules.csv  takehome/  Velocity_limits.ipynb